@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html {
  color-scheme: light only;
}

@font-face {
  font-family: 'galmuri';
  src: url('./assets/fonts/Galmuri9.woff2');
}

@font-face {
  font-family: 'scdream';
  src: url('./assets/fonts/SCDream4.woff2');
}

@font-face {
  font-family: 'tenada';
  src: url('./assets/fonts/Tenada.woff2');
}
